parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/M02/syntax-error
        - tests/Fixtures/M05
        - tests/Fixtures/M06
        - tests/Fixtures/M07
        - tests/Fixtures/M08
        - tests/Fixtures/M09
        - tests/Fixtures/M10
        - tests/Fixtures/M11
